<li class="container">
    <div class="wrapper">
        <h2 class="country__name">{{name}}</h2>
        <span class="country__capital">Capital: {{capital}}</span>
        <span class="country__population">Population: {{population}}</span>
        <ul class="country__languages"><span class="country__languages">Languages: </span>
            {{#each languages}}
            <li class="country__languages--item">
                {{this.name}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="wrapper">
        <img class="flag__img" src="{{flag}}" alt="country__flag">
    </div>
</li>
